.aftertossvtn {
  margin-top: 18px;
  margin-left: 20px;
  background-color: rgb(27, 33, 54);
}
.statusof {
  margin-left: 25%;
}
.filed {
  color: #ffbb28;
}
.batt {
  color: #209cee;
}
.aftertosse {
  margin-left: 29%;
  font-weight: bold;
  font-size: large;
  color: #209cee;
}
